<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @listing.title %>
</p>

<p>
  <b>End date:</b>
  <%= @listing.end_date %>
</p>

<p>
  <b>User:</b>
  <%= @listing.user %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
