<%= form_for @listing_photo, :html => {:multipart => true} do |f| %>
  <% if @listing_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing_photo.errors.count, "error") %> prohibited this listing_photo from being saved:</h2>

      <ul>
      <% @listing_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :caption %>
      <%= f.text_field :caption %>
    </p>
    <p>
      <%= f.label :listing_id %>
      <%= f.select(:listing_id, options_for_select([['2008 Honda Fit', 28]])) %>
    </p>
    <p>
      <%= f.file_field :image %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
