<h1>Listing listing_photos</h1>

<table>
  <tr>
    <th>caption</th>
    <th>listing id</th>
    <th>image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listing_photos.each do |listing_photo| %>
  <tr>
    <td><%= listing_photo.caption %></td>
    <td><%= listing_photo.listing_id %></td>
    <td><%= image_tag listing_photo.image_url(:thumb).to_s %></td>
    <td><%= link_to 'Show', listing_photo %></td>
    <td><%= link_to 'Edit', edit_listing_photo_path(listing_photo) %></td>
    <td><%= link_to 'Destroy', listing_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing photo', new_listing_photo_path %>
