<p id="notice"><%= notice %></p>


<p>
  <b>Caption:</b>
  <%= @listing_photo.caption %>
</p>
<p>
<%= image_tag @listing_photo.image_url(:large).to_s %>
</p>

<%= link_to 'Edit', edit_listing_photo_path(@listing_photo) %> |
<%= link_to 'Back', listing_photos_path %>
