#remember to create a symbolic link of this file into the NGINX configure path
#'/usr/local/openresty/nginx/conf/sites-enabled' and modify the default NGINX config
# file to include this line 'include /usr/local/openresty/nginx/conf/sites-enabled/*;'
upstream <%= app_name%>_unicorn {
	server unix:/tmp/.unicorn-<%= app_name %>.sock;
}

server {
    listen         <%= http_port %>;
    return 301 https://$host$request_uri;
}

#server{
#
#	listen <%= http_port %>;
#
#	root /apps/<%= app_name %>/public;
#	try_files $uri/index.html $uri @redirect;
#
#	location @redirect{
#		proxy_set_header X_Forwarded_Proto	http;
#		proxy_set_header Host $http_host;
#		proxy_pass https://<%= app_name %>_unicorn;
#	}
#
#}

server{

	listen <%= ssl_port %> ssl;
        error_log  /tmp/nginx_error.log  warn;

	root /apps/<%= app_name %>/public;
	try_files $uri/index.html $uri @<%= app_name %>_unicorn;

	location @<%= app_name %>_unicorn{
		proxy_set_header X-Real-IP		$remote_addr;
		proxy_set_header X-Forwarded-For	$proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded_Proto	https;
		proxy_set_header Host 			$http_host;
		proxy_redirect				off;
		proxy_pass 				http://<%= app_name %>_unicorn;
	}

	ssl on;
	ssl_certificate /etc/nginx/ssl/server.crt;
	ssl_certificate_key /etc/nginx/ssl/server.key;

}
